## Local PW Template for IOS 

username {{ user_type[item.user_type].admin_un }} password {{ user_type[item.user_type].admin_pw }} 
username {{ user_type[item.user_type].admin_un }} privilege {{ user_type[item.user_type].admin_priv }}


