[defaults]
# Use local hosts file in folder 
inventory = ./hosts
# Don't worry about RSA Fingerprints
host_key_checking = False
# Do not create .retry files on job failure
retry_files_enabled = False 
# Do not gather facts 
gather = explicit



